<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&family=UnifrakturMaguntia&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="img/electric-skateboard.png">
    <style></style>
    <title>Home Skt</title>
</head>

<body>

    <header><!-- cabeçalho da página -->
        <div class="container">

            <div class="menu-topo">

                <div class="logo"></div>

                <nav class="desktop">
                    <ul styl>
                        <li><a href="">Inicio</a></li>
                        <li><a href="#sessao3">Produtos</a></li>
                        <li><a href="#contato">Contato</a></li>
                        <li class="bnt_orcamento"><a class=" monte " href="">Monte seu próprio skate</a></li>
                    </ul>

                </nav>

            </div>
            <div class="chamada">
                <h2>Você surfando no asfalto com as melhores peças da cena</h2>
                <p>A <span>"SK8 Universe"</span> foi criado com o intuito de fornecer às mais diversas peças de skate
                    com o melhor custo benefício possivel. Sempre trazendo imensa satisfação para mais de 10.000
                    clientes mensais, Entregamos para todo o Brasil.</p>

                <!-- Formulário da campanha abaixo -->

                <form action=""><!-- Iniciando form -->
                    <input type="email" placeholder="Insira seu email"><!-- Definindo campo de email -->

                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </header>

    <section class="sessao1"><!--   Primeira sessão -->
        <div class="container">
            <div class="desc-produto">
                <h3>
                    Você tem dúvidas em relação a começar no skate e ter que pagar caro em peças te desmotiva a começar.
                </h3>
                <p> Então o skate montado da <span>"Sk8 Universe"</span> é o produto perfeito pra você, com peças com
                    ótimo custo beneficio para quem está començando.</p>

            </div>
            <img src="img/produto.png" class="skt_montado" alt="Skate montado" title="Skate montado">
        </div>
        <div class="clear">

        </div>
    </section>

    <section class="sessao2"><!-- Segunda sessão -->
        <div class="container">

            <div class="feedback">
                <p>"As peças são muito boas e rende muito no meu rolê, com certeza a melhor loja que já fiz parceira,
                    pode confiar rapa"</p>
                <p>Chorão</p>
            </div>

        </div>
    </section>

    <section id="sessao3">
        <h3>Categorias de Produtos</h3>
        <div class="container">
            <article>
                <img src="img/shape.png" alt="">
                <h4>Shapes</h4>
                <div class="texto_bnt">
                    <p>Os melhores shapes de maple e marfim, nacionais ou internacionais, você encontra aqui</p>
                </div>
                <div class="bnt_explorar">
                    <a href="shapes.html">
                        <p>Saindo a partir de R$93,90</p>
                    </a>
                </div>
            </article>

            <article>
                <img src="img/truck.png" alt="">
                <h4>Trucks</h4>
                <div class="texto_bnt">
                    <p>Trucks mais resistêntes para não passar dor de cabeça, disponiveis dos tamanhos 139mm ao 159mm,
                        nas três alturas </p>
                </div>
                <div class="bnt_explorar">
                    <a href="trucks.html">
                        <p>Saindo a partir de R$127,90</p>
                    </a>
                </div>
            </article>

            <article>
                <img src="img/redbones.png" alt="">
                <h4>Rolamentos</h4>
                <div class="texto_bnt">
                    <p>Diversos rolamentos, com diferentes quantidades de esferas e diferentes materiais incluindo os de
                        ceramica</p>
                </div>
                <div class="bnt_explorar">
                    <a href="rolamentos.html">
                        <p>Saindo a partir de R$60,90</p>
                    </a>
                </div>
            </article>

          <!--   <article>
                <img src="img/rodinh.png" alt="">
                <h4>Rodinhas</h4>
                <div class="texto_bnt">
                    <p>Rodinhas com ótima aderência, dos menores aos maiores tamanhos</p>
                </div>
                <div class="bnt_explorar">
                    <a href="">
                        <p>Saindo a partir de R$67,99</p>
                    </a>
                </div>
            </article> -->

            

            <!-- <article>
                <img src="img/lixa.png" alt="">
                <h4>Lixas</h4>
                <div class="texto_bnt">
                    <p>Lixas comuns e emborrachadas, com diversos modelos, incluindo os da nossa marca que você só
                        encontra aqui </p>
                </div>
                <div class="bnt_explorar">
                    <a href="">
                        <p>Saindo a partir de R$30,99</p>
                    </a>
                </div>
            </article>

            <article>
                <img src="img/borrachinha.png" alt="">
                <h4>Borrachinhas para o truck </h4>
                <div class="texto_bnt">
                    <p>Como você curte andar ?? com o truck mais "solto" ou mais "preso", da uma olhada nas nossas
                        Borrachinhas que estão com 15% de desconto</p>
                </div>
                <div class="bnt_explorar">
                    <a href="">
                        <p>Saindo a partir de R$23,99</p>
                    </a>

                </div>
            </article>
        </div> -->
    </section>

    <h3 class="parceiros">marcas parceiras da loja: </h3>
    <section class="sessao4">
        <div class="container">
            <article>
                <div class="radius">
                    <img src="img/ele_marca.png" alt="">
                </div>
            </article>

            <article>
                <div class="radius">
                    <img src="img/sc_marca.png" alt="">
                </div>
            </article>

            <article>
                <div class="radius">
                    <img src="img/zero_marca.png" alt="">
                </div>
            </article>

            <article>
                <div class="radius">
                    <img src="img/ind_marca.png" alt="">
                </div>
            </article>

            <article>
                <div class="radius">
                    <img src="img/primi_marca.png" alt="">
                </div>
            </article>

            <article>
                <div class="radius">
                    <img src="img/spit_marca.png" alt="">
                </div>
            </article>

            <article>
                <div class="radius">
                    <img src="img/griz_marca.png" alt="">
                </div>
            </article>

            <article>
                <div class="radius">
                    <img src="img/moska_marca.png" alt="">
                </div>
            </article>
        </div>
    </section>

    <footer>
        <div id="contato">
            <h4>Contato:</h4>
            <p>Número:(11)94964-1083 </p>
            <p>Email:sktuniverse@gmail.com</p>
            <p>Venha até nós : Skate Universe - R. Clélia, 1250 - Sala 2A/B - Lapa, São Paulo - SP, 05042-000</p>
        </div>
    </footer>
</body>

</html>