<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&family=UnifrakturMaguntia&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="img/electric-skateboard.png">

    <title>ROLAMENTOS</title>
</head>

<body>

    <header class="rolamentos"><!-- cabeçalho da página -->

        <div class="container">

            <div class="menu-topo">

                <div class="logo"></div>

                <nav class="desktop">
                    <ul styl>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="index.html#sessao3">Produtos</a></li>
                        <li><a href="#contato">Contato</a></li>
                        <li class="bnt_orcamento"><a class=" monte " href="">Monte seu próprio skate</a></li>
                    </ul>

                </nav>

            </div>
            <div class="chamada">
                <h2 class="produto-categ">Rolamentos:</h2>
            </div>
        </div>
    </header>

    <section class="produtos">
        <div class="container">

            <article>
                <img src="img/rolamento-black.jpg" alt="">
                <div class="texto_produtos">
                    <h3>Rol. black sheep</h3>
                        <p>Por: R$ 60,90</p>
                        <p> R$ 55,90 à vista com desconto
                         ou 2x de R$ 30,45 Sem juros</p>
                </div>
                <div class="bnt_compra">
                    <p>Compre agora</p>
                </div>
            </article>

            <article>
                <img src="img/rolamento-bones.jpg" alt="">
                <div class="texto_produtos">
                    <h3>Rol. red bones</h3>
                        <p>Por: R$ 82,90</p>
                        <p> R$ 74,90 à vista com desconto
                         ou 3x de R$ 27,63 Sem juros</p>
                </div>
                <div class="bnt_compra">
                    <p>Compre agora</p>
                </div>
            </article>

            <article>
                <img src="img/rolamento-bones-ceramic.jpg" alt="">
                <div class="texto_produtos">
                    <h3>Rol. bones ceramic</h3>
                        <p>Por: R$ 117,90</p>
                        <p> R$ 104,90 à vista com desconto
                         ou 5x de R$ 23,58 Sem juros</p>
                </div>
                <div class="bnt_compra">
                    <p>Compre agora</p>
                </div>
            </article>

            <article>
                <img src="img/rolamento-jail.jpg" alt="">
                <div class="texto_produtos">
                    <h3>Rol. jail</h3>
                    <p>Por: R$ 127,90</p>
                    <p> R$ 114,90 à vista com desconto
                     ou 5x de R$ 25,40 Sem juros</p>
                </div>
                <div class="bnt_compra">
                    <p>Compre agora</p>
                </div>
            </article>

            <article>
                <img src="img/rolamento-speed.jpg" alt="">
                <div class="texto_produtos">
                    <h3>Rol. speed</h3>
                    <p>Por: R$ 138,90</p>
                    <p> R$ 124,90 à vista com desconto
                     ou 4x de R$ 34,58 Sem juros</p>
                </div>
                <div class="bnt_compra">
                    <p>Compre agora</p>
                </div>
            </article>

            <article>
                <img src="img/rolamento-titanium.jpg" alt="">
                <div class="texto_produtos">
                    <h3>Rol. titanium gold</h3>
                        <p>Por: R$ 154,90</p>
                        <p> R$ 147,90 à vista com desconto
                         ou 6x de R$ 25,60 Sem juros</p>
                </div>
                <div class="bnt_compra">
                    <p>Compre agora</p>
                </div>
            </article>

        </div>

    </section>
    <footer>
        <div id="contato">
            <h4>Contato:</h4>
            <p>Número:(11)94964-1083 </p>
            <p>Email:sktuniverse@gmail.com</p>
            <p>Venha até nós : Skate Universe - R. Clélia, 1250 - Sala 2A/B - Lapa, São Paulo - SP, 05042-000</p>
        </div>
    </footer>
</body>

</html>