<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="img/electric-skateboard.png" >

    <title>SHAPES</title>
</head>
<body>
    
    <header class="shapes"><!-- cabeçalho da página -->
        <div class="container">

            <div class="menu-topo">

                <div class="logo"></div>

                <nav class="desktop">
                    <ul styl>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="index.html#sessao3">Produtos</a></li>
                        <li><a href="#contato">Contato</a></li>
                        <li class="bnt_orcamento"><a class= " monte "href="">Monte seu próprio skate</a></li>
                    </ul>

                </nav>

            </div>
            <div class="chamada">
                <h2 class="produto-categ">Shapes:</h2>
            </div>
        </div>
    </header>
    
        <section class="produtos">
            <div class="container">
            
                <article>
                    <img src="img/shape_br.jpg" alt="">
                    <div class="texto_produtos">
                        <h3>Shape bandeira br</h3>
                        <p>Por: R$ 129,90</p>
                           <p> R$ 123,41 à vista com desconto
                            ou 5x de R$ 25,98 Sem juros</p>
                    </div>
                    <div class="bnt_compra"><p>Compre agora</p></div>
                </article>

                <article>
                    <img src="img/shape_coruja (1).jpg" alt="">
                    <div class="texto_produtos">
                        <h3>Shape owl </h3>
                        <p>Por: R$ 107,90</p>
                        <p> R$ 93,90 à vista com desconto
                         ou 5x de R$ 21,58 Sem juros</p>
                    </div>
                    <div class="bnt_compra"><p>Compre agora</p></div>
                </article>

                <article>
                    <img src="img/shape_natura.jpg" alt="">
                    <div class="texto_produtos">
                        <h3>Shape pgs nature</h3>
                        
                        <p>Por: R$ 117,90</p>
                        <p> R$ 104,90 à vista com desconto
                         ou 5x de R$ 23,58 Sem juros</p>
                    </div>
                    <div class="bnt_compra"><p>Compre agora</p></div>
                </article>

                <article>
                    <img src="img/shape-azul.jpg" alt="">
                    <div class="texto_produtos">
                        <h3>Shape black sheep </h3>
                        <p>Por: R$ 133,90</p>
                        <p> R$ 122,90 à vista com desconto
                         ou 5x de R$ 26,78 Sem juros</p>
                    </div>
                    <div class="bnt_compra"><p>Compre agora</p></div>
                </article>

                <article>
                    <img src="img/shape-rosa.jpg" alt="">
                    <div class="texto_produtos">
                        <h3>Shape wats black</h3>
                        <p>Por: R$ 117,90</p>
                        <p> R$ 104,90 à vista com desconto
                         ou 5x de R$ 23,58 Sem juros</p>
                    </div>
                    <div class="bnt_compra"><p>Compre agora</p></div>
                </article>

                <article>
                    <img src="img/shape-flores.jpg" alt="">
                    <div class="texto_produtos">
                        <h3>Shape pgs flowers</h3>
                        <p>Por: R$ 107,90</p>
                        <p> R$ 93,90 à vista com desconto
                         ou 5x de R$ 21,58 Sem juros</p>
                    </div>
                    <div class="bnt_compra"><p>Compre agora</p></div>
                </article>

            

            </div>

            
        </section>
        <footer>
            <div id="contato">
                <h4>Contato:</h4>
                <p>Número:(11)94964-1083 </p>
                <p>Email:sktuniverse@gmail.com</p>
                <p>Venha até nós : Skate Universe - R. Clélia, 1250 - Sala 2A/B - Lapa, São Paulo - SP, 05042-000</p>
            </div>
        </footer>
            
        </body>
        </html>

