<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&family=UnifrakturMaguntia&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="img/electric-skateboard.png">

    <title>TRUCKS</title>
</head>

<body>

    <header class="truck"><!-- cabeçalho da página -->

        <div class="container">

            <div class="menu-topo">

                <div class="logo"></div>

                <nav class="desktop">
                    <ul styl>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="index.html#sessao3">Produtos</a></li>
                        <li><a href="#contato">Contato</a></li>
                        <li class="bnt_orcamento"><a class=" monte " href="">Monte seu próprio skate</a></li>
                    </ul>

                </nav>

            </div>
            <div class="chamada">
                <h2 class="produto-categ">Trucks:</h2>
            </div>
        </div>
    </header>

    <section class="produtos">
        <div class="container">

            <article>
                <img src="img/truck-vermelho.jpg" alt="">
                <div class="texto_produtos">
                    <h3>truck sk8</h3>
                    <p>Por: R$ 168,90</p>
                    <p> R$ 157,90 à vista com desconto
                     ou 4x de R$ 42,00 Sem juros</p>
                </div>
                <div class="bnt_compra">
                    <p>Compre agora</p>
                </div>
            </article>

            <article>
                <img src="img/truck-bravo.jpg" alt="">
                <div class="texto_produtos">
                    <h3>truck bravo</h3>
                    <p>Por: R$ 117,90</p>
                    <p> R$ 104,90 à vista com desconto
                     ou 5x de R$ 23,58 Sem juros</p>
                </div>
                <div class="bnt_compra">
                    <p>Compre agora</p>
                </div>
            </article>

            <article>
                <img src="img/truck-internacional.jpg" alt="">
                <div class="texto_produtos">
                    <h3>Truck interncional</h3>
                    <p>Por: R$ 154,90</p>
                    <p> R$ 147,90 à vista com desconto
                     ou 6x de R$ 25,60 Sem juros</p>
                </div>
                <div class="bnt_compra">
                    <p>Compre agora</p>
                </div>
            </article>

            <article>
                <img src="img/truck-preto.jpg" alt="">
                <div class="texto_produtos">
                    <h3>Truck cb orange</h3>
                    <p>Por: R$ 138,90</p>
                    <p> R$ 124,90 à vista com desconto
                     ou 4x de R$ 34,58 Sem juros</p>
                </div>
                <div class="bnt_compra">
                    <p>Compre agora</p>
                </div>
            </article>

            <article>
                <img src="img/truck-titanum.jpg" alt="">
                <div class="texto_produtos">
                    <h3>Truck titanium</h3>
                    <p>Por: R$ 117,90</p>
                    <p> R$ 104,90 à vista com desconto
                     ou 5x de R$ 23,58 Sem juros</p>
                </div>
                <div class="bnt_compra">
                    <p>Compre agora</p>
                </div>
            </article>

            <article>
                <img src="img/truck-verde.jpg" alt="">
                <div class="texto_produtos">
                    <h3>Truck intruder</h3>
                    <p>Por: R$ 177,90</p>
                    <p> R$ 168,90 à vista com desconto
                     ou 2x de R$ 85,50 Sem juros</p>
                </div>
                <div class="bnt_compra">
                    <p>Compre agora</p>
                </div>
            </article>

        </div>

    </section>
    <footer>
        <div id="contato">
            <h4>Contato:</h4>
            <p>Número:(11)94964-1083 </p>
            <p>Email:sktuniverse@gmail.com</p>
            <p>Venha até nós : Skate Universe - R. Clélia, 1250 - Sala 2A/B - Lapa, São Paulo - SP, 05042-000</p>
        </div>
    </footer>
</body>

</html>